{% extends "base.html" %}
{% block body %}

<div class="col-lg-1"></div>
<div class="col-lg-10 well bs-component">
<form class="form-horizontal" action="/newuser" method="post">
<fieldset>

<!-- Form Name -->
<legend>Add User</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="Karen Home" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="core-id">Photon ID</label>  
  <div class="col-md-4">
  <input id="core-id" name="core-id" type="text" placeholder="270039000447343337373738" class="form-control input-md" required="">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label for="lightColor" class="col-md-4 control-label">Color</label>
  <div class="col-md-4">
   <input class="jscolor form-control text" name="color" value="ab2567">
  </div>
</div>

<!-- User Selection -->
<div class="form-group">
  <label class="col-md-4 control-label">Subscribe To</label>
  <div class="col-md-4">
  {% for user in users %}
    <div class="checkbox">
      <label>
        <input type="checkbox" name="check" value="{{ user['name'] }}"> {{ user['name'] }}
      </label>
    </div>
  {% endfor %}
  </div>
</div>

<div class="form-group">
  <div class="col-md-offset-4 col-md-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>

</div>

{% endblock %}
